:root {
	--background: #253529; /* dark green */
}
* {
	box-sizing: border-box;
	/* border: 1px solid crimson; */
}
body {
	background-color: #253529;
	color: whitesmoke;
}
.flexColumn {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
}

#flexRow {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0.8rem;
}
img {
	width: 100%;
}

button,
input {
	padding: 0.5rem;
	width: 100%;
}
