:root {
	--background: #253529; /* dark green */
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* border: 1px solid crimson; */
}
body {
	background-color: #253529;
	color: silver;
}
img {
	width: 100%;
}
button,
input {
	padding: 0.5rem;
	width: 100%;
}
a,
a:link,
a:visited {
	color: darkgoldenrod;
	text-decoration: none;
}
a:hover {
	color: goldenrod;
	text-decoration: underline;
}
